body	{
	margin:0;
	background-image:url('../img/pattern.png');
}
p{
	font-family:calibri;
	font-size:1.1em;
	margin: 0 1em 0 1em;
}
h2	{
	font-family:calibri;
	font-size:1.3em;
	font-weight:ligther;
	color:#66CC99;
	margin: 1em 0  0 2em;
	clear:both;
}
a{
	text-decoration:none;
}
#contenedor	{
	width:1024px;
	margin: 0 auto;
	background-color:white;
	min-height:47em;
	padding-bottom:2em;
}
#cabecera	{
	height:200px;
	overflow:visible;
}
.elaboracion	{
	font-family:calibri;
	font-size:1.1em;
	color:grey;
	width:150;
}
.menu 	{
	list-style-type:none;
}
.menu li	{
	float:left;
	width:220px;
	height:40px;
	background-color:orange;
	color: white;
	font-family: calibri;
	font-size:1.8em;
	padding:0.2em;
	text-align:center;
	margin:0.1em;
}
.menu li:hover	{
	background-color:#B45F04;
}
.listaCursos	{
	text-decoration:none;
	margin-left:10em;
}
.listaCursos li	{
	width:650px;
	height:35px;
	background-color:#B45F04;
	color: white;
	font-family: calibri;
	font-size:1.1em;
	padding-top:0.6em;
	padding-bottom:0.1em;
	text-align:center;
	margin:0.1em;

}
.descripCurso	{
	height:auto !important;
	background-color:white !important;
	color:grey !important;
	list-style-type:none;
	text-align:justify !important;
}
.listaCursos li img	{
	width:140px;
	margin: 0.5em 0 0.5em 15em;
}
.icono	{
	width:35px !important;
	height:37px !important;
	margin-left:1em !important;
	margin-top:-0.28em !important;
	float:left !important;
}
#contenido	{
	padding-top:1em;
	padding-bottom:1em !important;
}
.copyright	{
	margin-left:20em;
	margin-top:3em;
	font-family:calibri;
	color:#66CC99;
	font-size:1.1em;
	font-style:italic;
}
.contacto	{
	margin-left:14em;
	margin-top:3em;
	font-family:calibri;
	color:orange;
	font-size:1.5em;
}
.tartas	{
	margin-left:5em;
}
.cupcakes	{
	margin-left:3em;
}
table.tartas tr td	{
	width:150px;
}
table.tartas tr td img	{
	width:150px;
	height:121px;
	margin:0.5em;
}
table.cupcakes tr td	{
	width:150px;
}
table.cupcakes tr td img	{
	width:150px;
	height:170px;
	margin:1em 2.2em;
}
.fotoPerfil	{
	width:130px;
	margin-left:28em;
	margin-top:2em;
}